* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.box-flex {
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}   
ul {
    width: 40%;
    display: flex; 
    list-style: none;
    justify-content: space-evenly;
} 
li {
    color: rgb(83, 83, 83);
    font-size: 15px;
    font-weight: 600;
}
/* botao email */
button {
    font-family: inherit;
    font-size: 15px;
    background: royalblue;
    color: white;
    padding: 0.1em 0.8em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   button:hover span {
    transform: translateX(5em);
   }
   
   button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
/* TITULO/RESUME */
.box-intro-glob {
    
    width: 50%;
}
.box-intro {
    margin-top: 10vh;
    margin-left: 17.5vh;
    width: 50%;
}
    
.name {
    color: royalblue;
    font-weight: 500;
    font-size: 15px;
} 
.text-intro {
    font-weight: 800;
    font-size: 50px;
}
.box {
    display: flex;
    
}
img {
    width: 80%;
    margin-top: 10vh;
}
    
    
    
/* botao curriculo */    
/* From uiverse.io by @adamgiebl */
.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(77,54,208,1) 0%, rgba(132,116,254,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
    letter-spacing: 0.05em;
    border-radius: 20em;
    margin-top: 5vh;
    margin-left: 17.5vh;
   }
   
   .cssbuttons-io-button svg {
    margin-right: 8px;
   }
   
   .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
   }
   
   .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
   }
    